@import url("themes/Urban-Nocturne/colors.css");

* {
  font-family: MonaspiceXe Nerd Font;
  font-size: 13px;
  font-weight: 900;
  border: none;
  border-radius: 0;
  min-height: 0;
}

window#waybar {
  background: @background;
}

#custom-nixos {
  color: @color5;
  margin: 0em 1em;
}

#disk {
  margin: 0em 1em;
  color: @foreground;
}

#workspaces {
  margin: 0em 1em;
}

#workspaces button {
  color: @foreground;
}

#workspaces button.empty {
  color: @color8;
}

#workspaces button.active {
  font-size: 14px;
  padding: 0em 1em;
  border: 2px solid @color5;
  border-radius: 6px;
  color: @color5;
}

#workspaces button.urgent {
  background: @color3;
}

#custom-finder,
#custom-drive,
#custom-browser {
  margin: 0em 1em;
  color: @foreground;
}

#hardware1,
#hardware2 {
  margin: 0em 0em;
  color: @foreground;
}

#cpu,
#memory,
#temperature,
#backlight,
#battery {
  padding: 0em 0.5em;
  color: @foreground;
}

#pulseaudio {
  padding: 0em 0.5em 0em 0em;
}

#tray {
  margin: 0em 0.5em;
  padding: 0em 0.5em;
  color: @foreground;
}

#clock {
  margin: 0em 1em 0em 0em;
  color: @foreground;
}
